.carousel-control-prev {
  left: -120px;

  span {
    background-image: url("../img/carousel/arrow.svg");
    transform: rotate(180deg);
    opacity: 1;
  }

  @media (max-width: 1360px) {
    left: -40px;
  }

  @media (max-width: 767px) {
    left: 0;
  }
}

.carousel-control-next {
  right: -120px;

  span {
    background-image: url("../img/carousel/arrow.svg");
    opacity: 1;
  }

  @media (max-width: 1360px) {
    right: -40px;
  }

  @media (max-width: 767px) {
    right: 0;
  }
}

