.elevator-create {
  &__table {
    th {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    td {
      &:nth-child(2) {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
