.objects {
  .service-card-block-carousel {
    .desktop {

      @media (min-width: 1400px) and (max-width: 1700px) {
        margin: 0 auto;
        width: 1200px;

        img {
          display: block;
          width: 250px;
          height: 300px;
          margin: 0 auto;
        }

        .carousel-control-prev {
          left: -120px;
        }

        .carousel-control-next {
          right: -120px;
        }
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .mobile {
      display: none;

      @media (max-width: 767px) {
        display: block;

        img {
          display: block;
          margin: 0 auto;
          width: 200px;
          height: 200px;
        }

        .before-after {
          position: relative;

          span {
            width: 70%;
            text-align: center;
            padding: 4px 0;
            background-color: rgba(248, 249, 250, 0.6);
            display: block;
            position: absolute;
            bottom: 0;
            margin-left: 48px;
            font-weight: bold;
            font-size: 18px;
            color: #2e2e2e;
          }
        }
      }
    }
  }

  ul {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      .before-after {
        position: relative;

        span {
          width: 100%;
          padding: 4px 0;
          background-color: rgba(248, 249, 250, 0.6);
          display: block;
          position: absolute;
          bottom: 0;
          margin: 0 auto;
          font-weight: bold;
          font-size: 18px;
          color: #2e2e2e;
        }
      }
    }

    img {
      width: 300px;
      height: 400px;
      transition: all 1s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    @media (max-width: 1360px) {
      grid-template-columns: 1fr 1fr;

      li {
        margin-bottom: 10px;
      }

      img {
        width: 250px;
        height: 250px;
      }
    }

    @media (max-width: 767px) {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

