.objects {
  .service-card-block-carousel {
    .desktop {

      @media (min-width: 1400px) and (max-width: 1700px) {
        margin: 0 auto;
        width: 1200px;

        img {
          display: block;
          width: 250px;
          height: 300px;
          margin: 0 auto;
        }

        .carousel-control-prev {
          left: -120px;
        }

        .carousel-control-next {
          right: -120px;
        }
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .mobile {
      display: none;

      @media (max-width: 767px) {
        display: block;

        img {
          display: block;
          margin: 0 auto;
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  ul {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 300px;
      height: 400px;
      transition: all 1s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    @media (max-width: 1360px) {
      grid-template-columns: 1fr 1fr;

      li {
        margin-bottom: 10px;
      }

      img {
        width: 250px;
        height: 250px;
      }
    }

    @media (max-width: 767px) {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

