.service {
  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    padding: 20px;
    border: 2px solid #0b163f;
    border-radius: 10px;
    margin-bottom: 20px;

    h3 {
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
    }
  }
}

// .service {
//   ul {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     column-gap: 20px;

//     @media (max-width: 1360px) {
//       grid-template-columns: 1fr;
//       row-gap: 20px;
//     }
//   }

//   li {
//     padding: 20px;
//     border-radius: 16px;
//     border: 2px solid @primary-color;
//   }

//   &__row {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;

//     &:not(:last-child) {
//       margin-bottom: 10px;
//     }
//   }

//   h3 {
//     margin-bottom: 10px;
//   }

//   p {
//     margin-bottom: 0;
//   }
// }
