.service {
  .service-card-section {
    padding: 20px;
      border: 1px solid #0b163f;
      border-radius: 10px;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr;
    // gap: 20px 20px;

    @media (max-width: 1360px) {
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      padding: 0 20px 0 30px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: 8px;
        top: 8px;
        border-radius: 50%;
        background-color: #000;
      }

      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #d5d7da;
        margin-bottom: 10px;
      }

      @media (max-width: 767px) {
        padding: 10px;
        margin-bottom: 0;

        .carousel-control-prev {
          left: -40px;
        }
        .carousel-control-next {
          right: -40px;
        }
      }

      h3, p {
        display: inline-block;
        width: 100%;
        text-align: left;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 16px;
        margin-bottom: 0;
        @media (max-width: 767px) {
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      // .service-card {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   justify-content: center;
      //   margin: auto;

      //   // .service-card-block {
      //   //   margin-bottom: 20px;

      //   //   img {
      //   //     display: block;
      //   //     max-height: 300px;
      //   //     margin: 0 auto;
      //   //   }

      //   //   .carousel {
      //   //     width: 400px;

      //   //     @media (max-width: 767px) {
      //   //       width: 200px;
      //   //     }

      //   //     img {
      //   //       max-height: 300px;
      //   //       margin: 0 auto;

      //   //       @media (max-width: 767px) {
      //   //         max-height: 200px;
      //   //       }
      //   //     }
      //   //   }
      //   // }
      //   .service-card-block {
      //     p {
      //       margin-bottom: 0;
      //     }
      //   }
      // }
    }
  }
}
